<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="feed_cache" connectionString="Data Source=local-feeds.db;Version=3;"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
